body {
  background-color: $white-light;
  margin: 0;
  font-family: $font;
}

h1 {
  margin: 0;
}

button {
  outline: 0;
  font-family: $font;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
