body {
  background-color: $white-light;
  margin: 0 !important;
  font-family: $font;
  color: $text-dark;
}

h1 {
  margin: 0;
}

button {
  outline: 0;
  font-family: $font;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: $text-dark;
}

input {
  font-family: $font;
  border: none;
}

p {
  margin: 0;
}

a.link {
  color: $text-dark;
  transition: 0.2s;
}

a.link:hover {
  color: $text-pink;
  transition: 0.2s;
}

small {
  font-size: 0.60rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
