// Colors
$white-light: hsl(0, 0%, 98%);
$pink: #fde5ed;
$grey: #dedede;

// Font colors
$text-white: #FFF;
$text-dark: #212529;
$text-grey: #868686;
$text-pink: #D15385;

// Font
$font: 'Comfortaa', cursive;
